.centro {
  background-image: url("../../Imagenes/fondo\ pato.jpeg");
}
.centro2 {
  background-color: rgba(255, 255, 255, 0.75);
}

.tituloCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  height: 8rem;
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 15px 0px;
  transform: translateY(2rem);
}

.h1Centro h2:nth-child(2) {
  color: red;
}

.h1Centro h2:nth-child(3) {
  color: rgb(47, 205, 47);
}

.h1Centro h2:nth-child(4) {
  color: rgb(207, 117, 8);
}

.h1Centro h2:nth-child(5) {
  color: blue;
}

.h1Centro {
  font-size: 30px;
  margin-left: 2rem;
  margin: -10px 0px -15px 20px;
  display: flex;
  align-items: center;
}
.h3Centro {
  margin-top: -1rem;
  margin-left: 4rem;
}

.recuadro {
  background-color: rgb(106, 195, 195);
  height: 30vh;
  width: 100vw;
  margin-top: -16rem;
}

.recuadroH4{
  color: white;
 margin-top: -3rem;
}


@media only screen and (max-width: 1000px) {
.tituloCont {
  width: 95%;
}
.recuadro {
  background-color: rgb(106, 195, 195);
  height: 10vh;
  width: 100vw;
  margin-top: auto;
}
.recuadroH4{
  font-size: 0.7rem;
}
}
