.centro {
  background-image: url("../../Imagenes/fondo\ pato.jpeg");
}
.centro2{
    background-color:rgba(255, 255, 255, 0.75);
}

.tituloCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  height: 8rem;
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 15px 0px;
  transform: translateY(1rem);
}

.h1Centro{
    font-size: 3rem;
    margin-left: 2rem;
}
.h3Centro{
    margin-top: -1rem;
    margin-left: 2rem;
}
  
.recuadro{
    background-color: rgb(106, 195, 195);
    height: 35vh;
    width: 100vw;
    margin-top: -18rem;
  }