.containerDescription {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f400;
    padding: 50px;
    position: relative;
    height: auto;
    justify-content: flex-start;
  }
  
  .containerDescription::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../Imagenes/descripcion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(3px);
    z-index: -1;
  }
  
  .description {
    
    margin-top: 30px;
    opacity: 1;
    margin-bottom: 10px;
}
  
  .description h1 {
    font-size: 40px;
    color: rgb(40, 67, 119);
   
    margin-top: -40px;
    margin-bottom: 20px;
}
  
  .text p {
    font-size: 20px;
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  
  
  