.container {
  background-image: url("../../Imagenes/fondo pato.jpeg");
  min-height: auto;
}
.container2 {
  background-color: rgba(255, 255, 255, 0.75);
  height: auto;
}

.titulos {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  float: left;
  width: 35%;
  height: 8rem;
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 0px 0px;
  font-size: large;
  transform: translateY(2rem);
}

.logito{
    margin-bottom: -14px;
    height: 64px;
    width: auto;
    margin-right: 20px;
}

.title h1 {
  margin-left: 2rem;
}
.subtitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
  /* background-color: rgba(135, 206, 235, 0.6); */
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 15px 0px;
  height: auto;
  width: 84%;
  padding: 8px;
  transform: translateY(3rem);
  margin-top: -16.5px;
}
.subtitle h2 {
  display: flex;
}
.fotoText {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.imagenn {
  max-height: 600px;
  max-width: auto;
  opacity: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

.imgQuiensoy {
  max-width: 20%;
}

.description {
  width: 40%;
  background-color: rgba(99, 127, 127, 0.352);
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  text-align: left;
  margin-left: 6rem;
}

.recuadro {
  display: flex;
  background-color: rgb(106, 195, 195);
  height: 15vh;
  width: 100vw;
}
.recuadroH4 {
  color: white;
  margin-top: -3rem;
}

@media screen and (max-width: 1050px) {
  .title {
    width: 95%;
  }

  .subtitle {
    width: 95%;
  }

  .fotoText {
    flex-direction: column;
    align-items: center;
  }
  .imagenn {
    max-height: 400px;
    margin: 0 auto;
  }

  .imgQuiensoy {
    max-width: 30%;
    margin: 0 auto;
  }

  .description {
    width: 90%;
    margin: 2rem auto;
  }
}
