.fondo {
    background-image: url("../../Imagenes/fondo pato.jpeg");
    /* background-position: center top; */
    height: auto;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.75);
    min-height: 120vh;
  }
  
  .imagenn {
    max-height: 600px;
    max-width: auto;
    margin-left: 20px;
    opacity: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .imgQuiensoy {
    float: left;
    max-width: 20%;
    margin-top: 30px;
  }
  
  .description {
    float: right;
    width: 40%;
    margin: 30px 300px 80px ;
    background-color: rgba(99, 127, 127, 0.352);
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    text-align: left;
  }
  
  .subtitle {
    
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: .5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem auto 0 ;
    background-color:rgba(135, 206, 235, 0.6);
    border-radius: 15px 15px 15px 15px;
    height: 60px;
    width: 55%;
    padding: 8px ;
    margin-top: 30px;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 8rem;
    margin: 0rem auto 0;
    background-color: rgba(106, 195, 195, 0.6);
    border-radius: 0px 0px 15px 15px;
    font-size: large;
  }
