.card {
    width: 70%;
    height: 250px;
    background: #fff;
    border: 1px solid;
    padding: .4em;
    border-radius: 20px;
    margin-left: 1rem;
    margin-bottom: 5rem;
    box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.3);
  }
  
  .cardImage {
    display: flex;
    background-color: rgb(236, 236, 236);
    height: 230px;
    border-radius: 6px;
    margin: 10px;
    width: auto;
    max-height: auto;
  }
  
  .cardImage:hover {
    transform: scale(1.06);
  }
  
  .infoCont{
    margin-top: -13rem;
    margin-left: 20rem;
   height: auto;
  }
  
  .name {
    font-size: 2rem;
  }
  
  .profession {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .description {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }

  .phone{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
  }

  .extra{
    font-size: 1rem;
  }
  .email {
    
    font-size: 1rem;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  