.blogBack {
  background-image: url("../../Imagenes/fondo\ pato.jpeg");
  height: 200vh;
}

.blogBack1 {
  background-color: rgba(255, 255, 255, 0.75);
  height: 200vh;
}
.tituloBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 15px 0px;
  width: 45%;
  transform: translateY(2.5rem);
}
.tituloBlog img {
  margin-left: 2rem;
}
.tituloBlog h1 {
  margin-left: 7rem;
  margin-top: -3rem;
}
.subtitulo {
  display: flex;
  margin-left: 2rem;
  margin-top: -1rem;
}

.blogcontainer {
  transform: translateY(4rem);
  margin-bottom: 10rem;
}
.blogVideo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.blogCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.recuadro {
  background-color: rgb(106, 195, 195);
  height: 25vh;
  width: 100vw;
  margin-top: -15rem;
}
