.blogBack {
  margin-top: 0rem;
  background-image: url("../../Imagenes/fondo\ pato.jpeg");
 height: 180vh;
 
  
}


.blogBack1 {
  background-color: rgba(255, 255, 255, 0.75);
  height: 180vh;
  
}
.tituloBlog{
display: flex;
margin:0px 0px 0px 20px;
}

.subtitulo{
  display: flex;
  margin: -5px 0px 0px 30px;
}

.blogcontainer {
  transform: translateY(4rem);
  margin-bottom: 10rem;
}
.blogVideo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.blogCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
