

.reseña {
    
    border-radius: 30px;
   
    padding: 10px;
  }
  
  .reseñas {
    margin: 10px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-right: -0px; 
    background-color: rgba(106, 195, 195, 0.251);
    
  }
  
  .reseña {
    margin: 0 30px 20px 0; /* Margen derecho y margen inferior */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: all 0.5s;
    background-color: rgba(197, 201, 201, 0.497);
    margin-top: 10px ;
    border: 1px solid rgba(0, 0, 0, 0.182);
  }
  
  .reseña:last-child {
    margin-right: 0; /* Se elimina el margen derecho en el último elemento */
  }

  /* .reseña:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center;
  } */
  