.container {
  background-image: url("../../Imagenes/fondo\ pato.jpeg");
  height: auto;
}
.container2 {
  background-color: rgba(255, 255, 255, 0.75);
  height: auto;
}

.cursotitulo1 {
  display: flex;
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 15px 0px;
  width: 45%;
  transform: translateY(3rem);
}
.textoT {
  display: flex;
  margin-left: 2rem;
}
.cursotitulo2 {
  display: flex;
  background-color: rgba(106, 195, 195, 0.6);
  border-radius: 0px 15px 15px 0px;
  width: 45%;
  transform: translateY(9rem);
}

.proximo {
  background-color: rgba(177, 180, 184, 0.436);
  margin: 0px 20px 0px 20px;
  border-radius: 20px;
  padding: 5px;
  transform: translateY(12rem);
}
.video {
  transform: translateY(6rem);
}
.recuadro {
  display: flex;
  background-color: rgb(106, 195, 195);
  height: 35vh;
  width: 100vw;
}
.recuadroH4{
  color: white;
  margin-top: -3rem;
}

@media screen and (max-width: 1100px) {
  .container {
    height: auto;
  }
  .container2 {
    height: auto;
  }
  .cursotitulo1, .cursotitulo2 {
    width: 95%;
  }
  .recuadro {
    height: 10vh;
  }
  .recuadroH4{
    color: white;
    font-size: 0.7rem;
  }
}
